/* +++++++++++++++++++++++++Global++++++++++++++++++++++++++++++++++++ */

/* Define variables at the root */

:root {
  --color-bg: #d5e1ef;
  --color-card: #ffffff;
  --color-text: #7b879d;

  /* recall 1rem = 16px (by default) */
  --radius-large: 1.25rem; /* 20px */
  --radius-medium: 0.9375rem; /* 15px */

  --spacing-small: 1.25rem; /* 20px */
  --spacing-medium: 1.5rem; /* 24px */
  --spacing-large: 3rem; /* 48px */
}

/* Reset every default margins on the paghe to zero*/
* {
  margin: 0;
  padding: 0;
}

body {
  /* Size */
  /* Our HTML (head section) contains a code that auto determines the right size of the page based on the user's device. */

  /* colour */
  background-color: var(--color-bg);

  /* Topography */
  font-family: "Outfit", sans-serif;
}

/* +++++++++++++++++++++++++ Body ++++++++++++++++++++++++++++++++++++ */

main {
  /* align this container only centrally */
  position: absolute; /* Positioned absolute to the place you want it to stay i.e., 50% margin from top and 50% from left then transform to properly centralise. It is positioned absolute to the nearest container in this case body */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Size of container */
  width: fit-content; /* Not needed but kept just in case */

  /* Design container -  split image and text container*/
  display: flex;
  flex-direction: column;
  align-items: center;

  /* colour */
  background-color: var(--color-card);

  /* Design */
  border-radius: var(--radius-large);
  padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-large)
    var(--spacing-medium); /* (assuming your root font-size is 16px, 1.5rem ≈ 24px and 3rem ≈ 48px). This way, if someone increases browser font size for accessibility, your spacing adapts too. Below is a sample of setting properties in line with root html thereby making things flexible*/
  /* html {
  font-size: 16px; root font-size */

  /* p {
    font-size: 1rem;  16px */

  /* h1 {
    font-size: 2rem; 32px */

  /* .container {
    padding: 1.5rem;24px */

  gap: var(--spacing-small); /* gap between child elements */
}

img {
  border-radius: var(--radius-medium);
  align-items: center;
}

.text-container {
  /* Size */
  width: 90%; /* Make the width of the text container lower than that of the image */

  /* Display */
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);

  /* Align */
  text-align: center;
}

span {
  display: block; /* make texts start froma new line */
}

p {
  /* Size */
  width: 80%;

  /* Align */
  align-self: center;

  /* Color */
  color: var(--color-text);
}
